// resets
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #121212;
  overflow: hidden;
  height: 60px;
}

.logo {
  font-size: 24px;
  margin: 12px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  margin: 20px;
  background-color: #121212;
  border-radius: 20px;
  border: solid red 2px;
}

.nav-links a {
  display: block;
  text-align: center;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.nav-links li:hover {
  background-color: red;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
}

// there seems to be something off about this?
.hamburger .bar {
  height: 4px;
  width: 24px;
  background-color: red;
  border-radius: 10px;
  margin: 2px;
}

// change display from none to flex if smaller than 600px
// this doesn't work in devtools, and idk why, 
// but it does work when you just resize the window
@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  // this doesnt work either
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}

